{% extends 'WorkApp2/template.html' %}
{% load static %}
{% block header %}
    <link rel='stylesheet' href = "{% static 'WorkApp2/page3.css' %}">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
    <script> </script>
{% endblock %}

{% block body %}

    <p>{{ dict.test }}</p>
    <div class = 'AreaOne'>   
        <canvas id = 'bar'></canvas>
    </div>

    <script src="{% static 'WorkApp2/page3.js' %}"></script>

    <script>
    {% autoescape off %}
        let RankDictHtml = {{ RankDict }};
    {% endautoescape %}
    
    DrawGraph3(RankDictHtml,'average')
    
    // var ctx1 = document.getElementById('bar').getContext('2d');
    // var dict = TestDrawGraph();
    // var chart = new Chart(ctx1,dict);

    </script>
{% endblock %}

