{% extends 'WorkApp2/template.html' %}
{% load static %}
{% block header %}
    <link rel='stylesheet' href = "{% static 'WorkApp2/page3.css' %}">
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script> </script>
{% endblock %}

{% block body %}

    <p>{{ dict.test }}</p>
    <div class = 'AreaOne'>   
        <canvas id = 'bar'></canvas>
    </div>

    <div class="BtnArea">
        <input type="text" value = 6.00 id='border' placeholder="想定ボーダー">
        <button id='btn1'>総得点</button>
        <button id='btn2'>得点率</button>
        <button id='btn3'>１走</button>
        <button id='btn4'>２走</button>
        <button id='btn5'>機能２</button>
        <button id='btn6'>機能３</button>
    </div>

    <script src="{% static 'WorkApp2/page3.js' %}"></script>

    <script>
    {% autoescape off %}
        let RankDictHtml = {{ RankDict }};
    {% endautoescape %}
    
    DrawGraphonLoad(RankDictHtml,'average')
    
    // var ctx1 = document.getElementById('bar').getContext('2d');
    // var dict = TestDrawGraph();
    // var chart = new Chart(ctx1,dict);

    </script>
{% endblock %}

