{% extends 'WorkApp2/template.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'WorkApp2/page1.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
    
{% endblock %}  

{% block body %}

    <div class="AreaOne">
        <div id="one">
            <canvas id="myRadarChart"></canvas>
        </div>
    </div>
    
    <div class='BtnArea'>
        <div id='form'>
            <div>
                <form method='POST'>{% csrf_token %}
                    <div>
                        <input type="text" name="input1" id='inp1'>
                    </div>
                    <div>
                        <button id ='btn1'>送信</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <div class="AreaTwo">
        {% for i in dict.one.name %}
            <p>{{ i }}</p>
        {% endfor %}
        
    </div>
    <script src="{% static 'WorkApp2/page1_on.js' %}"></script>
    <script>
    
    {% autoescape off %}
    let MotorDict1 = {{ dict.one }}
    let MotorDict = {{ dict.two }} 
    let MotorNo = {{ dict.three }}
    {% endautoescape %}
    
    OutputData('myRadarChart','btn1','inp1');

    const test = (target) =>{
    MotorDict['no'].map((str,i)=>{
        if (i==target){
            console.log(str);
        }
        })
    }
    const testii = SelectOn2(MotorNo);
    console.log(` >>> ${testii}`);

    
    test(testii);
    </script>
    
    <script src="{% static 'WorkApp2/page1.js' %}"></script>
{% endblock %}