{% extends 'WorkApp2/template.html' %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'WorkApp2/page1.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.js"></script>
    
{% endblock %}  

{% block body %}

    <div class="AreaOne">
        <div id="one">
            <canvas id="myRadarChart"></canvas>
        </div>
        <div class="two">
            <p style="height:60px; border-color:black; border:solid;"></p>
        </div>
    </div>
    
    <div class='BtnArea'>
        <div id='form'>
            <div>
                <form method='POST'>{% csrf_token %}
                    <div>
                        <input type="text" name="input1" id='inp1'>
                    </div>
                    <div>
                        <button id ='btn1'>送信</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <div class="AreaTwo">
        {% for i in dict.one.name %}
            <p>{{ i }}</p>
        {% endfor %}
        <!-- {{ dict }} -->
    </div>
    <script src="{% static 'WorkApp2/page1_on.js' %}"></script>
    <script>
    
    {% autoescape off %}
        let MotorDict1 = {{ dict.one }}
        let MotorDict = {{ dict.two }} 
        let MotorNo = {{ dict.three }}
    {% endautoescape %}
    
    

    const ReturnDataSet = (target) =>{
        MotorDict['no'].map((str,i)=>{
            // DataSet={};
            if (str.indexOf(target.toString())!=-1){
                // console.log(MotorDict['no'][i],MotorDict['twoave'][i]);
                DataSet={
                    no:MotorDict['no'][i],
                    twoave:MotorDict['twoave'][i],
                    oneave:MotorDict['oneave'][i],
                    rapave:MotorDict['rapave'][i],
                    rapmax:MotorDict['rapmax'][i],
                    nige:MotorDict['nige'][i],
                    makuri:MotorDict['makuri'][i],
                    sashi:MotorDict['sashi'][i],
                    makurizashi:MotorDict['makurizashi'][i],
                    nuki:MotorDict['nuki'][i],
                    luck:MotorDict['luck'][i],
                }
            
            }
        
        })
        return DataSet
    }
    DataSet = ReturnDataSet(MotorNo)
    OutputData2('myRadarChart',[DataSet['nige'],DataSet['makuri'],DataSet['sashi'],DataSet['makurizashi'],0,0]);
  
    </script>
    <script src="{% static 'WorkApp2/page1.js' %}"></script>
{% endblock %}