{% extends 'WorkApp2/template.html' %}
{% load static %}
{% block header %} 
    <link rel="stylesheet" href="{% static 'WorkApp2/page4.css' %}">
{% endblock %}
{% block body %}
    <div class="AreaOne">
        <div class="One_One">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="One_two">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
    <div class="AreaTwo">
        <div class="Two_One">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="Two_two">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    <div class="AreaThree">
        <div class="Three_One">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="Three_two">
            <span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>
{% endblock %}