{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template</title>

    <link rel="stylesheet" href="{% static 'WorkApp2/TemplateStyle.css' %}">
    {% block header %}
    {% endblock %}
</head>
<body>
    <nav>
        <span><a href="/page1">モーター勝率</a></span>
        <span><a href="/page2">モーター全体</a></span>
        <span><a href="/page3">得点率</a></span>
        <span><a href="/page4">明日の番組</a></span>
        <span><a href="/page5">テストページ</a></span>
    </nav>
    {% block body %}
    {% endblock %} 
</body>
</html>