@media all and (min-width: 1503px) and (max-width: 3000px) {
  .AreaOne {
    border: solid;
    border-color: white;
    border-width: 5px;
    height: 1050px;
    overflow: hidden;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: white;
    border-width: 5px;
    height: 1050px;
  }
  #bar {
    margin: 0px auto 0px auto;
    width: 70%;
    color: white;
    padding: 5px;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: white;
    border-width: 5px;
    height: 50px;
  }
  button {
    background-color: yellow;
    color: black;
    border: black;
    border-radius: 3px;
    width: 70px;
    margin: 13px 13px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1502px) {
  .AreaOne {
    height: 720px;
    border: solid;
    border-color: cyan;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: cyan;
    border-width: 5px;
    height: 720px;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: cyan;
    border-width: 5px;
    height: 50px;
  }
  button {
    background-color: yellow;
    color: black;
    border: black;
    border-radius: 3px;
    width: 70px;
    margin: 13px 13px;
  }
}

@media all and (min-width: 1000px) and (max-width: 1279px) {
  .AreaOne {
    height: 620px;
    border: solid;
    border-color: red;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 620px;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 50px;
  }
  button {
    background-color: yellow;
    color: black;
    border: black;
    border-radius: 3px;
    width: 70px;
    margin: 13px 13px;
  }
}

@media all and (min-width: 780px) and (max-width: 999px) {
  .AreaOne {
    height: 470px;
    border: solid;
    border-color: yellow;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 470px;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 100px;
  }
  button {
    background-color: yellow;
    color: black;
    border: black;
    border-radius: 3px;
    width: 70px;
    margin: 13px 13px;
  }
}

@media all and (min-width: 480px) and (max-width: 779px) {
  .AreaOne {
    height: 356px;
    border: solid;
    border-color: pink;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: pink;
    border-width: 5px;
    height: 356px;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: pink;
    border-width: 5px;
    height: 100px;
  }
  button {
    background-color: yellow;
    color: black;
    border: black;
    border-radius: 3px;
    width: 70px;
    margin: 13px 13px;
  }
}

@media all and (max-width: 480px) {
  .AreaOne {
    height: 210px;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 10px;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
    height: 210px;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
    height: 150px;
  }
  button {
    background-color: yellow;
    color: black;
    border: black;
    border-radius: 3px;
    width: 70px;
    margin: 13px 13px;
  }
}
/*# sourceMappingURL=page3.css.map */