$BorderValue:5px;
$MarginValue:5px;

$mobileA-color:white;
$mobileA-max:3000px;
$mobileA-min:1503px;
$mobileA-height:350px;
$childA-size:340px;

$mobileA-height2:1600px;

$mobileB-color:cyan;
$mobileB-max:1502px;
$mobileB-min:1280px;
$mobileB-height:350px;

$mobileB-height2:1600px;
$childB-size:340px;

$mobileC-color:red;
$mobileC-max:1279px;
$mobileC-min:1000px;
$mobileC-height:350px;

$mobileC-height2:1600px;
$childC-size:340px;

$mobileD-color:yellow;
$mobileD-max:999px;
$mobileD-min:780px;
$mobileD-height:350px;

$mobileD-height2:1600px;
$childD-size:340px;

$mobileE-color:pink;
$mobileE-max:779px;
$mobileE-min:480px;
$mobileE-height:350px;

$mobileE-height2:1600px;
$childE-size:340px;

$mobileF-color:lightgreen;
$mobileF-all:280px;
$mobileF-height:350px;

$mobileF-height2:1600px;
$childF-size:340px;

button{
    background-color: yellow;
    border-radius:3px;
    font-family:Arial;
}


@media all and (min-width:$mobileA-min) and (max-width:$mobileA-max){
    .AreaOne{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileA-color;
        border-width:$BorderValue;
        height:$mobileA-height;
        &>:nth-child(1){
            border: solid;
            border-color:red;
            border-width:$BorderValue;
            height:$childA-size;
            width:$childA-size;
        }
    }
    .BtnArea{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileA-color;
        border-width:$BorderValue;
    }
    .AreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileA-color;
        border-width:$BorderValue;
        height:$mobileA-height2;
    }

    .BtnAreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileA-color;
        border-width:$BorderValue;
    }
}

@media all and(min-width:$mobileB-min) and (max-width:$mobileB-max){
    .AreaOne{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileB-color;
        border-width:$BorderValue;
        height:$mobileB-height;
        &>:nth-child(1){
            border: solid;
            border-color:red;
            border-width:$BorderValue;
            height:$childB-size;
            width:$childB-size;
        }
    }
    .BtnArea{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileB-color;
        border-width:$BorderValue;
    }
    .AreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileB-color;
        border-width:$BorderValue;
        height:$mobileB-height2;
    }
    .BtnAreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileB-color;
        border-width:$BorderValue;
    }
}

@media all and (min-width:$mobileC-min) and (max-width:$mobileC-max){
    .AreaOne{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileC-color;
        border-width:$BorderValue;
        height:$mobileC-height;
        &>:nth-child(1){
            border: solid;
            border-color:red;
            border-width:$BorderValue;
            height:$childC-size;
            width:$childC-size;
        }

    }
    .BtnArea{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileC-color;
        border-width:$BorderValue;
    }
    .AreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileC-color;
        border-width:$BorderValue;
        height:$mobileC-height2;
    }

    .BtnAreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileC-color;
        border-width:$BorderValue;
    }
}

@media all and(min-width:$mobileD-min) and (max-width:$mobileD-max){
    .AreaOne{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileD-color;
        border-width:$BorderValue;
        height:$mobileD-height;
        &>:nth-child(1){
            border: solid;
            border-color:red;
            border-width:$BorderValue;
            height:$childD-size;
            width:$childD-size;
        }
    }
    .BtnArea{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileD-color;
        border-width:$BorderValue;
    }
    .AreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileD-color;
        border-width:$BorderValue;
    }
    .BtnAreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileD-color;
        border-width:$BorderValue;
        height:$mobileD-height2;
    }
}

@media all and (min-width:$mobileE-min) and (max-width:$mobileE-max){
    .AreaOne{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileE-color;
        border-width:$BorderValue;
        height:$mobileE-height;
        &>:nth-child(1){
            border: solid;
            border-color:red;
            border-width:$BorderValue;
            height:$childE-size;
            width:$childE-size;
        }
    }
    .BtnArea{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileE-color;
        border-width:$BorderValue;
    }
    .AreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileE-color;
        border-width:$BorderValue;
        height:$mobileE-height2;
    }

    .BtnAreaTwo{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileE-color;
        border-width:$BorderValue;
    }
}

@media all and(max-width:$mobileF-all){
    .AreaOne{
        margin-top:$MarginValue;
        height:$mobileF-height;
        border:solid;
        border-color:$mobileF-color;
        border-width:$BorderValue;
        height:$mobileF-height;
        &>:nth-child(1){
            border: solid;
            border-color:$mobileF-color;
            border-width:$BorderValue;
            height:$childF-size;
            width:$childF-size;
        }
    }
    .AreaTwo{
        margin-top: $BorderValue;
        border:solid;
        border-color:$mobileF-color;
        border-width:$BorderValue;
        height:$mobileF-height2;
    }
    .BtnArea{
        margin-top:$MarginValue;
        border:solid;
        border-color:$mobileF-color;
        border-width:$BorderValue;
        height:150px;
    }
    
}