.AreaOne{
    border:solid;
    border-color:white;
    border-width:1px;
    width:100%;
    height:1000px;
    overflow: hidden;
}

#bar{
    margin-left:30px;
    margin-top:30px;
    width:80%;
    height:80%;
    border:solid;
    border-color:white;
    border-width:3px;
    z-index: 5;
    color:white;
}

.BtnArea{
    border:solid;
    border-color:white ;
    border-width:1px;
    margin-top: 20px;
}