button {
  background-color: yellow;
  border-radius: 3px;
  font-family: Arial;
}

@media all and (min-width: 1503px) and (max-width: 5000px) {
  .AreaOne {
    margin-top: 5px;
    border: solid;
    border-color: white;
    border-width: 5px;
    height: 350px;
    width: 99%;
    padding: auto;
  }
  .AreaOne > :nth-child(1) {
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 340px;
    width: 340px;
    display: inline-block;
    overflow: hidden;
  }
  .AreaOne > :nth-child(1) > :nth-child(1) {
    border: solid;
    border-color: aqua;
    padding: 3px;
  }
  .AreaOne > :nth-child(2) {
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 340px;
    width: 68%;
    display: inline-block;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: white;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: white;
    border-width: 5px;
    height: 1600px;
  }
  .BtnAreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: white;
    border-width: 5px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1502px) {
  .AreaOne {
    margin-top: 5px;
    border: solid;
    border-color: cyan;
    border-width: 5px;
    height: 350px;
    width: 99%;
  }
  .AreaOne > :nth-child(1) {
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 340px;
    width: 340px;
    display: inline-block;
  }
  .AreaOne > :nth-child(2) {
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 340px;
    width: 68%;
    display: inline-block;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: cyan;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: cyan;
    border-width: 5px;
    height: 1600px;
  }
  .BtnAreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: cyan;
    border-width: 5px;
  }
}

@media all and (min-width: 1000px) and (max-width: 1279px) {
  .AreaOne {
    margin-top: 5px;
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 350px;
  }
  .AreaOne > :nth-child(1) {
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 340px;
    width: 340px;
    display: inline-block;
  }
  .AreaOne > :nth-child(2) {
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 340px;
    width: 600px;
    display: inline-block;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: red;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 1600px;
  }
  .BtnAreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: red;
    border-width: 5px;
  }
}

@media all and (min-width: 780px) and (max-width: 999px) {
  .AreaOne {
    margin-top: 5px;
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 350px;
  }
  .AreaOne > :nth-child(1) {
    border: solid;
    border-color: red;
    border-width: 5px;
    height: 340px;
    width: 340px;
    display: inline-block;
  }
  .AreaOne > :nth-child(2) {
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 340px;
    width: 312px;
    display: inline-block;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: yellow;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: yellow;
    border-width: 5px;
  }
  .BtnAreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 1600px;
  }
}

@media all and (min-width: 480px) and (max-width: 779px) {
  .AreaOne {
    margin-top: 5px;
    border: solid;
    border-color: pink;
    border-width: 5px;
    height: 350px;
  }
  .AreaOne > :nth-child(1) {
    border: solid;
    border-width: 5px;
    border-color: red;
    height: 340px;
    width: 340px;
    display: inline-block;
  }
  .AreaOne > :nth-child(2) {
    border: solid;
    border-color: yellow;
    border-width: 5px;
    height: 340px;
    width: 68%;
    display: inline-block;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: pink;
    border-width: 5px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: pink;
    border-width: 5px;
    height: 1600px;
  }
  .BtnAreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: pink;
    border-width: 5px;
  }
}

@media all and (max-width: 480px) {
  .AreaOne {
    margin-top: 5px;
    height: 350px;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
    height: 350px;
  }
  .AreaOne > :nth-child(1) {
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
    height: 340px;
    width: 340px;
  }
  .AreaTwo {
    margin-top: 5px;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
    height: 1600px;
  }
  .BtnArea {
    margin-top: 5px;
    border: solid;
    border-color: lightgreen;
    border-width: 5px;
    height: 150px;
  }
}
/*# sourceMappingURL=page1.css.map */